<?xml version="1.0" encoding="utf-8"?>

<plugin id="cordova-plugin-notification"
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android"
  version="1.0.3">  
  <name>Notification</name>  

   <js-module name="CTYNotification" src="www/js/CtyNotification.js"> 
    <clobbers target="CTYNotification"/> 
  </js-module> 
 <js-module src="www/js/CtyNotificationConstants.js" name="CTYNotification">
        <clobbers target="CTYNotification" />
 </js-module>

  <platform name="android"> 
    <config-file parent="/*" target="res/xml/config.xml"> 
      <feature name="CtyNotification"> 
        <param name="android-package" value="cty.cordova.plugin.CtyNotification"/> 
      </feature> 
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"> 
      <uses-permission android:name="android.permission.INTERNET"/>  
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>  
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> 
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> 
      <uses-permission android:name="android.permission.SET_ALARM"/> 
      <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    </config-file>  
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                android:name="cty.cordova.plugin.CtyNotification.LocalNotificationScheduler$NotificationReceiver"
                android:enabled="true"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                    <category android:name="android.intent.category.LAUNCHER" />
                    <category android:name="android.intent.category.HOME" />
                </intent-filter>
            </receiver>
     </config-file>
        <source-file src="src/android/CtyNotification.java" target-dir="src/cty.cordova.plugin.CtyNotification" />
        <source-file src="src/android/CtyNotificationHelper.java" target-dir="src/cty.cordova.plugin.CtyNotification" />
        <source-file src="src/android/LoadImageTask.java" target-dir="src/cty.cordova.plugin.CtyNotification" />
        <source-file src="src/android/LocalNotificationScheduler.java" target-dir="src/cty.cordova.plugin.CtyNotification" />
        <source-file src="src/android/CtyNotificationActivity.java" target-dir="src/cty.cordova.plugin.CtyNotification" />
  </platform> 

   <platform name="ios"> 
    <config-file parent="/*" target="config.xml"> 
      <feature name="CtyNoticePlugin"> 
        <param name="ios-package" value="CtyNoticePlugin"/> 
      </feature> 
    </config-file>  
     <!-- 源文件 -->
     <source-file src="src/ios/CtyNoticePlugin.m" />
  </platform> 
 <dependency id="cordova-plugin-android-permissions" version="1.1.5" />
</plugin>

